<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919504330261-gonrtg9f98nchugtthqa30apc0bng0n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919504330261-gonrtg9f98nchugtthqa30apc0bng0n2</string>
	<key>API_KEY</key>
	<string>AIzaSyDTx3XqSW_YZ0m-InqveiZZUobDmxNO47A</string>
	<key>GCM_SENDER_ID</key>
	<string>919504330261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>student.developer.jinhyeon.flutterApplication</string>
	<key>PROJECT_ID</key>
	<string>gemini-api-project-58d8c</string>
	<key>STORAGE_BUCKET</key>
	<string>gemini-api-project-58d8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919504330261:ios:5e83a09eb29518a27db81c</string>
</dict>
</plist>